*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

img{
    max-width: 100%;
    vertical-align: top;
}

ul{
   list-style-type: none;
}

body{
   margin: 0px;
   font-family: 'Normal';
}

a{
   text-decoration: none;
}

div[class*="col-"]{
  
    padding: 15px;
   
  }
  
.container{
  
    max-width: 1300px;
    margin: 0 auto;
 
}

header{
    background-color: black;
}

header nav ul li{
    display: inline-block;
    padding: 10px;
}


nav ul li a{
    color: white;
}

.background{
    background-image: url(../images/337229244_1309690743223564_8843760559744738413_n.jpg);
    padding: 250px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
} 

.background h1{
    text-align: center;
    color: white;
    margin-left: 220px;
}

.background2{
    background-color: greenyellow;
    padding: 110px;
}

.form{
    background-image: url(../images/337229244_1309690743223564_8843760559744738413_n.jpg);
    width: 250px;
    height: 310px;
    border: 2px solid black;
    border-radius: 12px;
    margin-left: 458px;
}

.input{
    padding: 4px;
    margin-top: 40px;
}

.input1{
    padding: 4px;
    margin-top: 90px;
}

.input2{
    margin-top: 20px;
    float: right;
    margin-right: 20px;
    padding: 5px;
    background-color: red;
    color: green;
    border: 1px solid black;
    border-radius: 25px;
}


.paragraph{
    padding: 10px;
    border: 2px solid black;
    margin: 0px 704px 0px 0px;
    text-align: center;
    background-color: green;
    border-radius: 25px;
}

.project1{
    border: 2px solid black;
    width: 350px;
}

.project1 button{
    padding: 5px;
    margin-left: 290px;
}

.project2{
    border: 2px solid black;
    width: 350px;
}

.project2 button{
    padding: 5px;
    margin-left: 290px;
}

.project3{
    border: 2px solid black;
    width: 350px;
}

.project3 button{
    padding: 5px;
    margin-left: 290px;
}

footer{
    padding: 50px 10px;
    background-color: #262626;
 }
 
 
 .n1{
    color: white;
    font-size: 30px;
 }
 
 .n2{
    color: white;
    
 }
 
 .n3{
    color: white;
    font-size: 30px;
 }
 
 
 .n4{
    color: white;
    
 }
 
 .n5{
    color: white;
    font-size: 30px;
 }
 
 .n6{
    color: white;
    
 }
 
 .n7{
    color: white;
    font-size: 30px;
 }
 
 .Name{
    margin:  0 0 15px 0;
    padding: 5px;
 }
 
 .button{
    background-color: red;
     color: white;
     padding: 5px 10px;
     border: red;
 }

 .background_3{
    padding: 20px;
    background-color: #181818;
 }
 
 .background_3 .copy p{
    color: white;
    margin: 0px;
   
 }
 .background_3 .row{
    justify-content: center;
    position: relative;
 }
 .shota{
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
 }
 .background_3 .shota ul{
    display: flex;
    gap: 5px;
    margin: 0px;
    align-items: center;
 }
 .background_3 .shota ul a{
    display: block;
    margin: 0 10px;
    font-size: 18px;
    background-color: #F25252;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    position: relative;
    color: white;
 }
 .background_3 .shota ul a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }